html,body{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page-container{
    width: 100%;
    height: 100%;
    background-color: #dcf2f5;
}

.nav__bar{
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
}
.nav__bar-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.nav__bar-logo{
    width: 600px;
    display: flex;
    align-items: center;
}
.nav__bar-logo-image{
    height: 30px;
    width: 56.09px;
}
.nav__bar-logo-image img{
    line-height: 100%;
}
.nav__bar-logo-name{
    line-height: 30px;
    margin: 26.29px 0px 26.27px 7px;
    font-size: 30px;
    font-weight: bold;
}
.nav__bar-logo-name::after{
    content: ''" "'by CREW';
    height: 10px;
    font-size: 10px;
}

.nav__bar-menu{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__bar-menu-item1, .nav__bar-menu-item2{
    font-size: 14px;
    margin-right: 24px;
}
.nav__bar-menu-item3{
    display: flex;
    justify-content: center;
    line-height: 30px;
    width: 84px;
    font-size: 13px;
    border: 1px solid black;
    border-radius: 3px;
    margin-right: 25.5px;
}

.nav__bar-menu-item4, .nav__bar-menu-item5, .nav__bar-menu-item6 img{
    display: flex;
    justify-content: center;
    margin-left: 27px ;
    height: 15px;
    width: 19px;
}

.profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.profile-picture{
    height: 154px;
    width: 154px;
    margin: 72px 0px 24px 0px;
}
.profile-name{
    display: flex;
    align-items: center;
    line-height: 24px;
    width: 250px;
    font-size: 24px;
}
.profile-name__name{
    margin-right: 12px;
    font-weight: 700;
}
.profile-address{
    display: flex;
    align-items: center;
    margin: 40px 0px 45px 0px;
}
.profile-address__firends, .profile-address__location{
    margin-right: 28px;
}
.profile-address__firends::before{
    content: url(/pic/friends.png);
    margin: 0px;
    margin-right: 15px;
    line-height: 15px;
    
}
.profile-address__location::before{
    content: url(/pic/location.png);
    margin: 0px;
    margin-right: 15px;
    line-height: 15px;
}
.profile-address__organization::before{
    content: url(/pic/organization.png);
    margin: 0px;
    margin-right: 15px;
    line-height: 15px;
}
.profile-accounts{
    width: 210px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 24px;
}
.profile-accounts div ,.profile-accounts div img{
    height: 100%;
}
.profile-details{
    margin-top: 75px;
    width: 1080px;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    color: #1A1A1A;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.profile-details__skills{
    padding: 40px;
    font-weight: 700;
    font-size: 16px;
    width: 408px;
}

.profile-details__skills-first{
    font-size: 10px;
    font-weight: normal;
    line-height: 10px;
    background-color: #E03066;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #E03066;
    width: fit-content;
}
.one{
    margin-top: 16px;
    padding: 5px 7px 5px 7px;
}

.two{
    margin-top: 11px;
    margin-bottom: 32px;
    padding: 5px 7px 5px 7px;
}
.one:hover, .two:hover{
    border: 1px solid #E03066;
    color: #E03066;
    background-color: #FFFFFF;
}
.profile-details__skills-second, .profile-details__skills-third{
    font-size: 10px;
    font-weight: normal;
    line-height: 10px;
    background-color: #e5f2f3;
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid #fff;
    width: fit-content;
    padding: 5px 7px 5px 7px;
}
.profile-details__skills-second:hover, .profile-details__skills-third:hover{
    font-size: 15px;
    line-height: 15px;
    border-radius: 4px;
    background-color: aqua;
}
.profile-details__skills-second:first-child{
    margin-top: 16px;
}
.profile-details__skills-second:last-child{
    margin-bottom: 32px;
}
.profile-details__skills-third:first-child{
    margin-top: 16px;
}

.profile-details__para {
    width: 672px;
    height: 290px;
    font-size: 17px;
    font-weight: 400;
    padding: 40px 40px 40px 0px;
    margin: 0px;
}

.card-title{
    width: 1080px;
    height: 24px;
    font-size: 24px;
    margin: 60px 0px 48px 0px;
    font-weight: 700;
    
}
.card-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 48px;
    column-gap: 42px;
}
.card{
    height: 431px;
    width: 332px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.card:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.card-image{
    width: 332px;
    height: 250px;
}
.card-details{
    width: 300px;
    height: 144px;
    background-color: #FFFFFF;
    padding: 16px 16px 20px 16px;
    margin: 0px;
}
.card-tag{
    display: flex;
    margin-bottom: 21px;
}
.card-tag__one{
    background-color: #E03066;
    color:#fff;
    line-height: 21px;
    width: 51px;
    border-radius: 2px;
    margin-right: 8px;
    font-size: 11px;
    text-align: center;
    border: 1px solid #E03066;
}
.card-tag__one:hover{
    background-color: #ffffff;
    color:#E03066;
    border: 1px solid #E03066;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.card-tag__two{
    background-color: #ffffff;
    color:#E03066;
    line-height: 21px;
    width: 117px;
    border-radius: 2px;
    margin-right: 8px;
    font-size: 11px;
    text-align: center;
    border: 1px solid #E03066;
}
.card-tag__two:hover{
    background-color: #E03066;
    color:#fff;
    border: 1px solid #E03066;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.card-address{
    display: flex;
    margin-bottom: 9px;
    height: 12px;
}

.card-address__location, .card-address__road{
    line-height: 12px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-right:16px ;
}
.card-address__location::before{
    content: url('/pic/location.png');
    line-height: 100%;
    width: 9px;
    margin-right: 5.5px ;
}
.card-address__road::before{
    content: url('/pic/road.png');
    height: 100%;
    width: 9px;
    margin-right: 5.5px ;
}
.card-description{
    height: 48px;
    width: 300px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 16px;
}
.card-user{
    display: flex;
}

.card-user-picture{
    height: 20px;
    weight: 20px;
}
.card-user-picture img{
    height:100%;
    width: 100%;
}
.card-user-name{
    font-size: 12px;
    text-align: center;
    margin-left: 8px;
}
.card-visited{
    opacity: 0.5;
}
